.container {
    width: 480px;
    margin:0;
}

h1 {
    text-align:center;
}

.btn-primary, .btn-primary:focus {
    background-color: #22a7ff;
    border-color: #fff;
}

.btn-primary:hover {
    background-color: #22a7ff;
    border-color: #fff;
    color: #000;
}

.asterisk {
    display:none;
}
.asterisk.displayable {
    display:inline;
}

.centered {
    display:block;
    margin:0 auto;
    width:120px;
    margin-top:20px;
}

.pure-form input, .pure-form select {
    width:270px;
}

.pure-form input[type='submit'] {
    width:120px;
}

.pure-form input.has-error {
    border:solid red 1px;
}
