<HTML>
    <HEAD>
        <META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=utf-8">
    </HEAD>
    <BODY dir="ltr">
        <p>Hello, <?php echo $name ?></p>
        <p>The account <?php echo $login ?> has been generated for you, along with the following password: <?php echo $password ?>
        <p>You can now connect the signal dashboard by log in here :</p>
        <p><a href='https://www.thirdbrainfx.com/login-demo-dashboard.php?login=<?php echo $login ?>&password=<?php echo $password ?>'>Log in Financial Dashboard</a></p>
         <p> After, you will need to setup your first portfolio and wait for the results</p>
         <p> 'Setup a portfolio' is the way to choose the right robot to play automatically in our account</p>
	<p> We will add soon tutorials and how to do it, come back to our support if any question rise on your side </p>
        <p>ThirdbrainFx Customer Care</p>
       <p>Mail :support@thirdbrain.ch</p>
        <p>Skype:support.thirdbrainsa</p>
        <p>Phone:+41 22 534 90 24</p>
    </BODY>
</HTML>